/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50px;
  border: 1px solid;
  transition: all 0.5s ease-in-out;
    box-shadow: hsla(0, 0%, 0%, .8) 5px 5px 50px;

}
img:hover {
  transform: scale(1.1);
}
/*
#profile {
  background: hsla(60, 100%, 50%, .4);
  height: 600px;
}
#content {
  background: hsla(120, 100%, 45%, .4);
}
*/
#profile {
  height: 650px;
}
#main {
  background: hsla(220, 100%, 85%, .9);
  height: 70%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#head {
  background: hsla(220, 100%, 60%, .4);
  height: 30%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#profile {
  width: 480px;
  max-width: calc(100vw - 10px);
  border-radius: 20px;
  box-shadow: hsla(0, 0%, 0%, .8) 15px 15px 80px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://i.imgur.com/bpW63uk.jpg') no-repeat center center fixed;
  background-size: cover;
}
#head, #contacts {
  text-align: center;
}
#content, #picture {
  width: 90%;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}
h1, h2 {
  font-family: 'Yeseva One', cursive;
  color: hsla(0, 0%, 10%,.9);
}
p {
  font-family: 'Josefin Sans', sans-serif;
  color: hsl(0, 0%, 10%);
  font-size: 18px;
  padding: 20px;
}
h1 {
  font-size: 30px;
  padding: 10px
}
#contacts {
  position: relative;
  bottom: 20px;
}
a {
  font-size: 30px;
  padding: 30px;
  color: hsla(0, 0%, 60%,.9);
}
a:hover {
  color: hsla(0, 0%, 40%,.9)
}
hr {
  display: block;
  border-bottom: 1px;
  border-color: hsla(0, 0%, 60%,.3);
  width: 90%;
  margin-top: -20px;
  margin-bottom: 30px;
  
}
#picture {
  position: relative;
  top: -100px;
}
#content {
  position: relative;
  top: -85px;
  height: 45%;
}